.user-form {
  margin: 120px auto 0;
  padding: 0 20px;

  &__title {
    color: #333;
    font-size: 26px;
    font-weight: 600;
    margin: 0 0 20px;
    text-align: center;
  }

  &__name {
    border: 1px solid #CCC;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 18px;
    padding: 15px 20px;
    width: 100%;
  }

  &__button {
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 20px 0 0;
    padding: 20px 0;
    text-transform: uppercase;
    width: 100%;

    &--submit {
      background: #83F442;
      border-bottom: 5px solid #4EB712;
      color: #1B4901;
    }

    &--clear {
      background: #FF9963;
      border-bottom: 5px solid #DB5B18;
      color: #722B05;
    }
  }

  &__subtitle {
    font-size: 22px;
    font-weight: 600;
    margin: 60px 0 20px;
    text-align: center;
  }

  &__slogan {
    color: #666;
    font-size: 28px;
    text-align: center;
  }

  @media screen and (min-width: 561px) {
    margin-top: 200px;
    padding: 0;
    width: 600px;

    &__button {
      width: 48%;

      &--submit {
        margin: 0 4% 0 0;
      }
    }
  }
}